.sakura-swiper,
swiper-container{
  display:block;
  width:100%;
  height:100%;
  min-height:100%;
}

swiper-slide{ height:100%; }

.slide{
  margin:0;
  width:100%;
  height:100%;
  background:#fff;
  display:grid;           /* centraliza conteúdo */
  place-items:center;     /* centraliza conteúdo */
}

/* CENTRALIZA sem distorcer */
.slide picture{
  display:block;
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

.slide img{
  display:block;
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  object-fit: contain;     /* mostra a foto inteira */
  object-position: center; /* centraliza a foto */
}
